#sheet {
    margin: auto;
    width: 50%;
}
#sheet h1{
    padding-bottom: 30px;
}

.naptar h2{
    padding: 20px 0px 20px 0px;
}

table#havinaptar, th, td {

    border: 1px solid;
    border-color: #dee2e6;
    text-align: center;
    table-layout: fixed;
}

.ures{
    border: none;
}

#havinaptar th {
    background-color: #f7f7f7;
    color: black;
}

.munkanap {
    background-color: #C6EFCE;
    color: #006100;
    font-weight: bolder;
}

.pihenonap {
    background-color: #FFC7CE;
    color: #9C0006;
    font-weight: bolder;
}
.unnep {
    background-color: #FFC7CE;
    color: #9C0006;
    font-weight: bolder;
}
.szombat {
    background-color: #FFEB9C;
    color: #9C5700;
    font-weight: bolder;
}
.vasarnap {
    background-color: #FFEB9C;
    color: #9C5700;
    font-weight: bolder;
}
.athelyezett {
    background-color: #FFEB9C;
    color: #9C5700;
    font-weight: bolder;
}
